 /* ######## COMMON ######## */

:root {
    --storyWidth: 25%; 
}

body{
    /* font-family: courier new; */
    background-color: white;
    border: 4px solid #000000;
}

header{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#cubeBox {
	position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    margin: 5px;
}

#cube{
	width: 100%;
	border: 0;
}

#languageBox{
    font-size:115%;
	position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    text-align: left;
    width: 60px;
}

#bigTitle{
    font-size:300%;
    margin: 0;
    padding: 0;
}

article{
	margin: auto;
	text-align: center;
}

footer{
    margin: 5px;
    margin-top: 15px;
}

/* ######## HOME/STORY PAGE ######## */

#navBox{
}

.collectionTitle{
	text-align: center;
	color: black;
	font-size: 200%;
	margin-right: 4px;
	margin-left: 4px;
    margin-bottom: 20px;
}

.collectionBox{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.collectionBox2{
	width: 80%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.whiteBox{
	width: 10%;
}

.storyBox{
	width: 33.3%;
	text-align:center;
    padding-bottom:10px;
}
	
.navImage{
	width: 93%;
	max-width: 350px;
    border: 4px solid #000000;
}

.navImage:hover{
    border: 4px solid red;
}

.navImageText{
	font-size:130%;
	margin: 5px;
}

/* ######## VIEWER PAGE ######## */

#storyTitle{
    font-size:200%;
    margin: 0;
    padding: 0;
}

#viewerBox{
	position: relative;
	width: 100%;
	max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#previousBox{
	position: absolute;
    left: 0;
    top: 50%;
    text-align: left;
    width: 10%;
    margin-top: -5%;
}

#nextBox{
	position: absolute;
    right: 0;
    top: 50%;
    text-align: right;
    width: 10%;
    margin-top: -5%;
}

.arrow{
	width: 100%;
	height: auto;
	border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#viewerImage{
	width: 80%;
    display: block;
	border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#storyText{
	font-size: 160%;
}

/* ######## RESPONSIVE DESIGN ######## */

@media screen and (max-width: 55cm) {
	.navImage{
		max-width: 280px;
	}

@media screen and (max-width: 20cm) {
	.storyBox{
		width: 50%;
	}
    .navImage{
    	max-width: 260px;
	}
	.collectionTitle{
		color: red;
	}
	.collectionBox2{
		width: 90%;
	}
	.whiteBox{
		width: 5%;
	}
    .navImageText{
    	font-size: 115%;
    }
    footer{
    	font-size: 90%;
    }
}

@media screen and (max-width: 11cm) {
	#cubeBox{
		width: 40px;
	}
	#languageBox{
    	width: 48px;
		font-size: 92%;
	}
	#bigTitle{
		font-size: 200%;
	}
	.collectionTitle{
		font-size: 140%;
		color: blue;
	}
	.collectionBox2{
		width: 100%;
	}
	.whiteBox{
		width: 0;
	}
	.storyBox{
		width: 100%
	}
    .navImage{
    	max-width: 160px;
	}
    .navImageText{
    	font-size: 100%;
    }
    #storyTitle{
    	color: red;
    	font-size: 170%;
    }
    #viewerImage{
    	width: 100%;
    }
    #storyText{
    	font-size: 120%;
    }
    footer{
    	font-size: 80%;
    }
}

/* ######## WEIRD STUFF ######## */

@font-face{
	font-family: "Raphaelton"; src:url("fonts/Raphaëlton_A.otf");
}

a:link {
    color: black;
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
	color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
	color: red;
    background-color: transparent;
    text-decoration: none;
}
